.btn {
	border: none;
	text-transform: uppercase;
	color: white;
	background-color: #f55263;
	height: 3rem;
	min-width: 200px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0.5rem;
	box-sizing: border-box;
	cursor: pointer;
}
